* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#meni {
	background-color: #b4c7dc;
	border-bottom: 2px solid  rgba(54, 103, 164, 60%);;
}

#meni .container {
	display: flex;
	height: 3em;
	align-items: center;
}

#meni a {
	text-decoration: none;
	color: #ffffff;
	font-size: 22px;
	padding: 2px;
	flex-grow: 1;
	text-align: center;
	border-right: 1px solid #ffffff;
}

#meni a:last-child {
	border-right: none;
}

label {
    width: 50%;
    display: inline-block;
    text-align: right;
}

form {
	margin-top: 1em;
}

label, input, select{
	margin: 0.2em;
}

#kontejner {
    justify-content: space-evenly;
    margin-top: 50px;
}
#poruka {
	text-align: center;
}

#btnUnesi {
    margin-top: 10px;
    margin-left: 49%;
}
@media screen and (max-width: 600px) {
	

	#meni .container {
		height: 2em;
	}

	#meni a {
		font-size: 0.6em;
    }


	label {
		font-size: 0.6em;
		margin: 0.3em auto;
		display: block;
		text-align: center;
	}

	input, select{
		font-size: 0.6em;
		margin: 0 auto;
		display: block;
	}

}